*{
  box-sizing: border-box;
}

.body{
  width: 100%;
}

.profileInfoHeader{
  display: flex;
  flex-direction: row;

  h1{
    text-decoration: underline #158e00;
  }

  img{
    margin: 10px 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
}

.profileInfo{
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;

  h2{
    font-size: 14px;
    margin: 0;
  }

  .points{
    color: #158e00;
  }
}

.dailyExercises{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0;

  label{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 33.33%;
    text-align: center;
  }
}

button.react-calendar__tile--active {
  background: #158e00;
}

button.react-calendar__tile--active:enabled:focus {
  background: #75c66a;
}
