$primaryGreenColor: #75c66a;
$primaryGreyColor: #CCC;
$hoverGreenColor: #158e00;

*{
  box-sizing: border-box;
}

.body{
  width: 100%;
}

.exerciseDone{
  background-color: $primaryGreenColor;
}

.react-calendar{
  width: 100%;
}

.profileHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h1{
    text-decoration: underline $hoverGreenColor;
  }

  img{
    margin: 10px 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
}

.profileInfo{
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;

  h2{
    font-size: 14px;
    margin: 0;
  }

  .points{
    color: $hoverGreenColor;
  }
}

.dailyExercises{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0;

  label{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 33.33%;
    text-align: center;
  }

  img{
    width: 55px;
    height: 55px;
  }
}

button.react-calendar__tile--active {
  background: $primaryGreenColor;
}

button.react-calendar__tile--active:enabled:focus {
  background: $hoverGreenColor;
}

@media screen and (min-width: 360px) and (max-width: 900px) {

  body{
    background-image: url(/images/background-outdoor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .pageContainer{
    display: flex;
    justify-content: center;

    .pageContent{
      width: 380px;
      background-color: white;
      padding: 15px;
      border-radius: 20px;
      opacity: 0.9;
    }

  }


}

@media screen and (min-width: 901px) {

  body{
    background-image: url(/images/background-outdoor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .pageContainer{
    display: flex;
    justify-content: center;

    .pageContent{
      width: 380px;
      background-color: white;
      padding: 15px;
      border-radius: 20px;
      opacity: 0.9;
    }

  }


}
